<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Angular 11 CRUD Operations Demo</a>

  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/books-list">Show Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/add-book">Add Books</a>
      </li>
    </ul>
  </div>
</nav> -->

<app-header></app-header>
<app-menu></app-menu>
<app-footer></app-footer>
<router-outlet></router-outlet>